-# messages#index transfer part
-# = render "xxx"
.trans
  .trans__transContent
    .trans__transContent__transContentDoors
      .trans__transContent__transContentDoors__transContentDoorsLink
        = link_to "Open DoorS", "#", class: "doorsLink"
    .trans__transContent__transContentState
      .trans__transContent__transContentState__transContentStateLink
        -# - if user_signed_in? && @about.user_id == current_user.id
        -#   .trans__transContent__transContentState__transContentStateLink__transContentStateLinkBtn
        -#     = link_to "Edit > About ME", edit_about_path(@about.id), method: :get, class: "transBtn transBtnAbout"
        -#     = link_to "Edit > Sign Up", edit_user_registration_path(@about.id), method: :get, class: "transBtn transBtnSign"
        -# - else
        -# .trans__transContent__transContentState__transContentStateLink__transContentStateLinkBtn
        -#   = link_to "About HIM / HER", "#", class: "transBtn transBtnDoor"


%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
-# messages#index part
%h1 Messages#index h1
%h3 Messages#index h3
%h6 Messages#index h6
相手のid(about.id ?)と
%br
カレントユーザid
%br
pairIDに紐づくメッセージ
%br


.mess
  .mess__messContent
    .mess__messContent__messContentTitle
      .mess__messContent__messContentTitle__messContentTitleDoor
        Knock-Knock Door
      .mess__messContent__messContentTitle__messContentTitlePair
        .mess__messContent__messContentTitle__messContentTitlePair__messContentTitlePairMe
          = current_user.name
        .mess__messContent__messContentTitle__messContentTitlePair__messContentTitlePairYou
          -# = @about.user.name
          -# = @about.user_id.name


    .mess__messContent__messContentForm
      -# = form_with model: [@pair,@message], class: "messForm", local: true do |f|
      -#   .messFormBoard
      -#     = f.text_field :content, class: "messText", placeholder: "type a message"
      -#     .messMask
      -#       = f.label :image, class: "messLabel" do
      -#         %i.fas.fa-camera-retro.chatIcon
      -#         = f.file_field :image, class: "messFile"
      -#   .messFormBtn
      -#     = f.submit "Send", class: "messSubmitBtn"
      