-# ===== pairs#new second header part ===========================
.trans
  .trans__transContent
    .trans__transContent__transContentDoors
      .trans__transContent__transContentDoors__transContentDoorsLink
        = link_to "Open DoorS", pairs_path(current_user), class: "doorsLink"
                              
    .trans__transContent__transContentState
      .trans__transContent__transContentState__transContentStateLink
        .trans__transContent__transContentState__transContentStateLink__transContentStateLinkBtn
          = link_to "Back to About HIM / HER", about_path(@about.id), class: "transBtn transBtnDoor"
