%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
-# ==== pairs#index part =============================
.pairIndex
  .pairIndex__pairIndexContent
    -# ---- DoorS title ------------------------
    .pairIndex__pairIndexContent__pairIndexContentTitle
      .pairIndex__pairIndexContent__pairIndexContentTitle__pairIndexContentTitleHead
        %h2.pairIndexTitleHead DoorS
      .pairIndex__pairIndexContent__pairIndexContentTitle__pairIndexContentTitleCode

    -# ---- door hanger list------------------------
    .pairIndex__pairIndexContent__pairIndexContentHanger
      .pairIndex__pairIndexContent__pairIndexContentHanger__pairIndexContentHangerHead
        %i.fas.fa-door-open.pairIndexHangerLogo
        %h3.pairIndexHangerHead hangered doors
      .pairIndex__pairIndexContent__pairIndexContentHanger__pairIndexContentHangerCode

    -# ---- knocked door list ------------------------
    .pairIndex__pairIndexContent__pairIndexContentDoor
      .pairIndex__pairIndexContent__pairIndexContentDoor__pairIndexContentDoorHead
        %i.fas.fa-weight-hanging.pairIndexDoorLogo
        %h3.pairIndexDoorHead knocked doors

      .pairIndex__pairIndexContent__pairIndexContentDoor__pairIndexContentDoorCode

%br
-# - @currentHangers[0]  は、|hanger|に相当  《指針》
%br
- @currentHangers.each do |currentHanger|
  %br
  1-1.ハンガーかけた日付
  = currentHanger.updated_at
  %br
  1-2.アイコン
  -# ハンガーかけているドアのAbout情報が下記
  - hangerPhoto = Photo.find_by(about_id: currentHanger.about_id)
  -# = image_tag hangerUser[0].image.url, class: "pppppp", size: "30x30"
  -# [0]でなく二重に深い配列かもをターミナルで確認
  %br
  1-3 名前
  -# 重複ラインはまとめる
  - hangerAbout = About.find_by(id: currentHanger.about_id)
  - hangerUser = User.where(id: hangerAbout.user_id)
  = hangerUser[0].name
  -# 配列の中身のハッシュを外す[0]常にひとつしかこない仕様ゆえ、一個上だけは常に[0]
  %br
  1-4.リンク【AZ】
  = link_to "About", about_path(hangerAbout), class: "pbbbbbbbb"
  %br
  1-5.リンク【pairs#new】ペア作成リンク
  = link_to "Knock?", new_pair_path(hangerAbout), class: "tbbbbbbb"
             

