%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
-# pairs#show part
※まだノックしてない場合、ノックしてませんのif文コメント
DoorS
%br
%br
ーーーー ブックマークリストDoorhanger ーーーーーーーーー

%br
%br
ーーーー ノックしたリストknock-knocked ーーーーーーーー
-# .pairs
-#   - current_user.pairs.each do |pair|
-#     アソシエーションないし、インスタンス変数を他con#actからわたして来て持ってくる
-#     .pa
-#       = link_to "pairチャット画面に遷移", pair_messages_path(@pair), method: :get, class: "---" do
-#         .pa__name
-#           = pair.name
-#         .pa__message
-#           最終やり取りしたコメントを記入
-#       = pair.show_last_message

-# 確認ダイアログ
-# = link_to "削除ボタン", pair_path(@about), class: "pairDestroyBtn", method: :delete, data: {confirm: "delete this door ?"}


【DoorS】
pairs#index
knock関連の一覧

[1]Hanger
1-1.【pairs#new】
1-2.アイコン,名前
1-3.【AZ】
※ kkd作成→[2]へ

[2]knocked
2-1.【KKD】
2-2.アイコン,名前
2-3.【AZ】
2-4.最終日時/コメ,
2-5.新着未読お知らせマーク★,
2-6.削除リンク
