%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
-# pairs#show part
※まだノックしてない場合、ノックしてませんのif文コメント
DoorS
%br
%br
ーーーー ブックマークリストDoorhanger ーーーーーーーーー

%br
%br
ーーーー ノックしたリストknock-knocked ーーーーーーーー
-# .pairs
-#   - current_user.pairs.each do |pair|
-#     アソシエーションないし、インスタンス変数を他con#actからわたして来て持ってくる
-#     .pa
-#       = link_to "pairチャット画面に遷移", pair_messages_path(@pair), method: :get, class: "---" do
-#         .pa__name
-#           = pair.name
-#         .pa__message
-#           最終やり取りしたコメントを記入
-#       = pair.show_last_message

-# 確認ダイアログ
-# = link_to "削除ボタン", pair_path(@about), class: "pairDestroyBtn", method: :delete, data: {confirm: "delete this door ?"}
