%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
-# pairs#show part
※まだノックしてない場合、ノックしてませんのif文コメント
DoorS
%br
%br
ーーーー ブックマークリストDoorhanger ーーーーーーーーー

%br
%br
ーーーー ノックしたリストknock-knocked ーーーーーーーー
.pairs
  - current_user.pairs.each do |pair|
    アソシエーションないし、インスタンス変数を他con#actからわたして来て持ってくる
    .pai
      -# = link_to '#' do
          
      -# = link_to "pairチャット画面に遷移", pair_messages_path(@pair), method: :get, class: "---" do
      -#   .pai__name
      -#     = pair.name
      -#   .pai__message
      -#     最終やり取りしたコメントを記入
