%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
-# pairs#show part
DoorS
%br
%br
ブックマークリストDoorhanger

%br
%br
ノックしたリストknock-knocked
- current_user.pairs.each do |pair|
  .ppppp
    = link_to '#' do
      .ppppp__name
        = pair.name
      .ppppp__message
        メッセージはまだありません。