// ===== transfer part ==============================
.trans {
  &__transContent {
    z-index: 666;
    position: fixed;
    top: 119px;
    background-color: #ff9933;
    border-bottom: 1px solid #ff5100;
    border-top: 1px solid white;
    width: 100%;
    height: 70px;
    line-height: 70px;
    display: flex;
    justify-content: center;

    &__transContentDoors {
      width: 300px;
      margin-left: 300px;
      &__transContentDoorsLink {
        width: 290px;
        .doorsLink {
          font-size: 20px;
          text-decoration: none;
          color: white;
          background-color: rgb(8, 133, 216);
          padding: 15px 80px;
          border-radius: 10px;
          border: 2px solid rgb(0, 174, 255);
        }
      }
    }

    &__transContentState {
      width: 700px;
      &__transContentStateLink {
        &__transContentStateLinkBtn {
          width: 690px;
          .transBtn {
            text-decoration: none;
          }
          .transBtnAbout {
            margin-right: 20px;
            margin-left: 80px;
            font-size: 18px;
            padding: 10px 30px;
            color: black;
            background-color: rgb(253, 186, 148);
            border: 2px solid rgb(0, 174, 255);
            border-radius: 30px;
          }
          .transBtnSign {
            font-size: 18px;
            padding: 10px 30px;
            color: black;
            background-color: rgb(253, 186, 148);
            border: 2px solid rgb(0, 174, 255);
            border-radius: 30px;
          }
          .transBtnDoor {
            font-size: 25px;
            color: white;
            background-color: rgb(8, 133, 216);
            padding: 15px 80px;
            border-radius: 10px;
            border: 2px solid rgb(0, 174, 255);
          }
        }
      }
    }
  }
}
