%br
%br
%br
%br
%br
%br
%br
%br
.aboutsNew
  .aboutsNew__aboutsNewContent

    .aboutsNew__aboutsNewContent__aboutsNewContentTitle
      .aboutsNew__aboutsNewContent__aboutsNewContentTitle__aboutsNewContentTitleYou
        （自動）About You
      .aboutsNew__aboutsNewContent__aboutsNewContentTitle__aboutsNewContentTitleDate
        （自動）最終更新日

    .aboutsNew__aboutsNewContent__aboutsNewContentForm
      = form_with model: @about, class: "newForm", local: true do |f|

        .newFormAbout
          .newFormAbout__newFormAboutPhoto
            （必須1）photo
          .newFormAbout__newFormAboutName
            （自動）your name here
          .newFormAbout__newFormAboutContribution
            （自動）草貢献度

        .newFormBasic
          .newFormBasic__newFormBasicNation
            （必須2）国籍
          .newFormBasic__newFormBasicLanguage
            （必須3）言語
          .newFormBasic__newFormBasicBirthday
            （必須4）西暦生年月日
          .newFormBasic__newFormBasicSex
            （必須5）性別ボタン

        .newFormPlus
          .newFormPlus__newFormPlusBody
            （任意）自己紹介areあ
          .newFormPlus__newFormPlusPicture
            （任意）picture本人らしい写真8枚登録可能
          .newFormPlus__newFormPlusInvitation
            （任意）誘いたいリスト3つ
          .newFormPlus__newFormPlusSuggestion
            （任意）感想

        .newFormPost
          .newFormPost__newFormPostSubmit
            -# - if @about.name?
            = f.submit 'Update "About Me"', class: "newFormPostSubmitBtn"
            -# - else
            -#   = f.submit 'Createmy "About Me"', class: "newFormPostSubmitBtn"
