.wrapper {
  .header {
    &__headerContent {
      // ヘッダー・フッター色
      background-color: #ff9933;
      // ボーダ線の色
      border-bottom: 1px solid #ff6600;
      width: 100%;
      height: 120px;
      line-height: 120px;
      // position: fixed;
      // z-index: 777;
      display: flex;
      justify-content: space-between;

      &__headerContentDoor {
        &__headerContentDoorLogo {
          .doorOpen {
            border: 1px solid black;
            border-radius: 5px;
            padding: 5px;
            margin-left: 30px;
            font-size: 45px;
            color: rgb(8, 133, 216);
            // リンク先色
            background-color: #ff9966;
            .fa-door-open {
            }
            .fa-hiking {
            }
          }
        }
      }
      &__headerContentKnock {
        &__headerContentKnockTitle {
          color: black;
          font-size: 50px;
          font-weight: bold;
        }
      }

      &__headerContentLink {
        display: flex;
        margin-right: 30px;
        font-size: 20px;

        &__headerContentLinkLeft {
          padding-right: 10px;

          .leftBtn {
            background-color: #ff9966;
            color: black;
            text-decoration: none;
            border: 1px dashed black;
            border-radius: 5px;
            padding: 5px;
          }
        }
        &__headerContentLinkRight {
          .rightBtn {
            background-color: #ff9966;
            color: black;
            text-decoration: none;
            border: 1px dashed black;
            border-radius: 5px;
            padding: 5px;
          }
        }
      }
    }
  }

  .contentsMap {
    height: 100%;
    width: 100%;
    // padding-top: 120px;

    .contentsMap__mapx {
      // 背景色
      background-color: #ffdab9;
      height: 100%;
      width: 100%;

      .contentsMap__mapx__topWord {
        background-color: rgb(245, 190, 88);
        height: 100px;
      }
      .contentsMap__mapx__middleMap {
        background-color: rgb(245, 190, 88);
        height: calc(100% - 400px);
        #js-map {
          position: relative;
          width: 100%;
          height: 100%;
        }
        .map {
          position: relative;
          width: 100%;
          height: 100%;
        }
      }
      .contentsMap__mapx__bottomAbout {
        background-color: rgb(245, 190, 88);
        height: 300px;
      }
    }
  }
  .footer {
    background-color: #ff9933;
    z-index: 777;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 80px;
    width: 100%;
    border-top: 1px solid #ff6600;
    &__foots {
      &__mycompany {
      }
      &__rights {
      }
    }
  }
}
