.wrapper {
  .header {
    &__headerContent {
      // ヘッダー・フッター色
      background-color: #ff9933;
      // ボーダ線の色
      border-bottom: 1px solid #ff6600;
      width: 100%;
      height: 120px;
      line-height: 120px;
      z-index: 777;
      position: fixed;
      top: 0px;
      left: 0px;
      display: flex;
      justify-content: space-between;
      &__headerContentDoor {
        &__headerContentDoorLogo {
          .doorOpen {
            border: 1px solid black;
            border-radius: 5px;
            padding: 5px;
            margin-left: 30px;
            font-size: 45px;
            color: rgb(8, 133, 216);
            // リンク先色
            background-color: #ff9966;
            .fa-door-open {
            }
            .fa-hiking {
            }
          }
        }
      }
      &__headerContentKnock {
        &__headerContentKnockTitle {
          color: black;
          font-size: 50px;
          font-weight: bold;
        }
      }
      &__headerContentLink {
        display: flex;
        margin-right: 30px;
        font-size: 20px;

        &__headerContentLinkLeft {
          padding-right: 10px;
          .leftBtn {
            background-color: #ff9966;
            color: black;
            text-decoration: none;
            border: 1px dashed black;
            border-radius: 5px;
            padding: 5px;
          }
        }
        &__headerContentLinkRight {
          .rightBtn {
            background-color: #ff9966;
            color: black;
            text-decoration: none;
            border: 1px dashed black;
            border-radius: 5px;
            padding: 5px;
          }
        }
      }
    }
  }

  // TODO:
  .banner {
    padding-top: 121px;
    &__bannerContent {
      width: 100%;
      height: calc(50vh - 120px);
      background-color: #ffdab9;
      border-bottom: 1px solid #ff6600;
      position: relative;
      text-align: center;
      &__bannerContentImage {
        width: 95%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        background-color: rgb(241, 124, 14);
        .slideshow {
          position: relative;
          width: 100%;
          height: 100%;
        }
        // 追加imgタグ->img単体へのデザイン
        .slideshow img {
          width: 100%;
          height: 379px;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: 0 auto;
          z-index: 8;
          opacity: 0;
        }
        .slideshow img.active {
          z-index: 10;
          opacity: 1;
        }
        .slideshow img.last-active {
          z-index: 9;
        }
      }
    }
  }

  // FIXME:
  .contentsMap {
    width: 100%;
    height: 100%;
    padding-bottom: 101px;

    .contentsMap__mapx {
      // 背景色
      background-color: #ffdab9;
      width: 100%;
      height: 100%;

      .contentsMap__mapx__topWord {
        background-color: rgb(245, 190, 88);
        width: 80%;

        height: 100px;
      }
      .contentsMap__mapx__middleMap {
        background-color: rgb(245, 190, 88);
        height: calc(100% - 400px);
        #js-map {
          position: relative;
          width: 100%;
          height: 100%;
        }
        .map {
          position: relative;
          width: 100%;
          height: 100%;
        }
      }
      .contentsMap__mapx__bottomAbout {
        background-color: rgb(245, 190, 88);
        width: 80%;

        height: 300px;
      }
    }
  }

  .footer {
    &__footerContent {
      width: 100%;
      height: 200px;
      background-color: #ff9933;
      border-top: 1px solid #ff6600;
      z-index: 777;
      position: fixed;
      bottom: 0px;
      left: 0px;
      &__footerContentFoot {
        margin-top: 25px;
        .foot {
          .footUl {
            display: flex;
            justify-content: center;
            .footUlLi {
              text-align: center;
              margin-right: 60px;
              margin-left: 60px;
              .footUlLiHead {
                font-weight: bold;
                font-size: 20px;
              }
              .footUlLiBody {
                .footest {
                  color: black;
                  text-decoration: none;
                  font-size: 17px;
                }
              }
            }
          }
        }
      }
      &__footerContentRights {
        margin-top: 35px;
        text-align: center;
        .rights {
          .rightsHead {
          }
        }
      }
    }
  }
}
