// ==== pairs#index part =============================
html {
  height: calc(100% + 131px);
}
body {
  height: 100%;
}
.pairIndex {
  padding-top: 120px;
  width: 100%;
  height: 130%;
  background-color: #ffdab9;
  &__pairIndexContent {
    width: 95%;
    background-color: #ffd482;
    margin: 0 auto;

    // ---- DoorS title ------------------------
    &__pairIndexContentTitle {
      padding-top: 20px;
      margin: 0px auto 20px auto;
      &__pairIndexContentTitleHead {
        .pairIndexTitleHead {
          text-align: center;
          font-weight: bold;
          font-size: 50px;
          max-width: 200px;
          margin: 0 auto;
          border-bottom: 1px dashed black;
        }
      }
      &__pairIndexContentTitleCode {
      }
    }

    // ---- hanger list------------------------
    &__pairIndexContentHanger {
      width: 95%;
      margin: 40px 0px 30px 50px;
      &__pairIndexContentHangerHead {
        display: flex;
        .pairIndexDoorLogo {
          color: #ff6600;
          border: 1px solid rgb(8, 133, 216);
          background-color: rgb(150, 205, 241);
          border-radius: 30px;
          font-size: 30px;
          padding: 7px;
          margin: 20px 20px 20px 40px;
        }
        .pairIndexHangerHead {
          padding-top: 17px;
          font-size: 40px;
          max-width: 350px;
        }
      }

      &__pairIndexContentHangerCode {
        width: 71%;
        &__pairIndexContentHangerCodeLimit {
          .table-responsive {
            caption {
              margin-left: 10px;
            }
            table {
            }
            table tr {
            }
            table th {
              background-color: #f5995c;
            }
            table td {
              padding-left: 20px;
              font-size: 20px;
              vertical-align: middle;
              .pairsIndexHangerPhoto {
              }
              .pairsIndexAboutHanger {
                text-decoration: none;
              }
              .pairsIndexKnockHanger {
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    // ---- knocked list ------------------------
    &__pairIndexContentDoor {
      width: 95%;
      margin: 40px 0px 30px 50px;
      padding-bottom: 365px;
      &__pairIndexContentDoorHead {
        display: flex;
        .pairIndexHangerLogo {
          color: #ff6600;
          border: 1px solid rgb(8, 133, 216);
          background-color: rgb(150, 205, 241);
          border-radius: 30px;
          font-size: 30px;
          padding: 7px;
          margin: 20px 20px 20px 40px;
        }
        .pairIndexDoorHead {
          padding-top: 17px;
          font-size: 40px;
          max-width: 350px;
        }
      }

      &__pairIndexContentDoorNotification {
        &__pairIndexContentDoorNotificationBody {
          margin: 1px 0px 10px 75px;
          .beNotifNoCheck {
            font-size: 22px;
            font-weight: bold;
            color: red;
          }
          .beNotifChecked {
            font-size: 17px;
            color: black;
          }
          .noNotif {
            font-size: 17px;
            color: black;
          }
        }
      }

      &__pairIndexContentDoorCode {
        width: 98%;
        &__pairIndexContentDoorCodeLimit {
          .table-responsive {
            caption {
              margin-left: 10px;
            }
            table {
            }
            table tr {
            }
            table th {
              background-color: #f5995c;
            }
            table td {
              padding-left: 20px;
              font-size: 20px;
              vertical-align: middle;
              .pairsIndexPhotoAboutUpwwnm {
              }
              .pairsIndexAboutPair {
                text-decoration: none;
              }
              .pairsIndexKnockPair {
                text-decoration: none;
              }
              .pairsIndexDoorDelete {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}
